<div class="title">
  <h2>My Pokemons</h2>
</div>
<ul class="pokemons">
  <!--Utiliza a diretiva estrutural *ngFor para iterar sobre cada elemento no array heroes e criar um item de lista <li> para cada herói. define uma variável local hero que será usada para representar cada item no array heroes.-->
  <li *ngFor="let pokemon of pokemons">
    <span class="badge">{{pokemon.id}}</span>
    <span class="name">{{pokemon.name}}</span>
    <a routerLink="{{pokemon.id}}">
      <button type="button" class="infos" title="see info"
    (click)="getPokemon(pokemon.id)">See informations</button>
    </a>
    <a routerLink="{{pokemon.id}}">
      <button type="button" class="delete" title="delete pokemon"
    (click)="delete(pokemon)">Delete</button>
    </a>
</ul>