.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pokemons {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.pokemons li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.badge {
  font-size: 20px;
  margin-right: 10px;
}

img {
  height: 1.5em;
  width: auto;
  margin-right: 10px;
}

.name {
  font-size: 20px;
  flex-grow: 1;
}

.infos,
.delete {
  margin-left: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  border-style: none;
}