<div class="title">
  <h2>List of Pokemons</h2>
</div>
<ul class="pokemons">
  <li *ngFor="let pokemon of pokemons" class="row">
    <img src="../../../assets/pokeball.png" alt="pokeball">
    <span class="badge">{{pokemon.id}}</span>
    <span class="name">{{pokemon.name}}</span>
    <a routerLink="{{pokemon.id}}">
      <button type="button" class="infos" title="see info"
    (click)="getPokemon(pokemon.id)">See informations</button>
    </a>
      <button type="button" class="delete" title="delete pokemon"
    (click)="delete(pokemon)">Delete</button>
</ul>