<div *ngIf="pokemon">
    <h2>Informations about {{pokemon.name | uppercase}}</h2>
    <div>Pokemon Id: {{pokemon.id}}</div>
    <div>
        <label for="pokemon-name">Pokemon name: </label>
        <input id="pokemon-name" [(ngModel)]="pokemon.name" placeholder="name">
    </div>
    <div>
        <label for="pokemon-height">Height: </label>
        <input type="text" [(ngModel)]="pokemon.height" placeholder="Height">
    </div>
    <div>
        <label for="pokemon-weight">Weight: </label>
        <input type="text" [(ngModel)]="pokemon.weight" placeholder="Weight">
    </div>
    <div>
        <label for="pokemon-types">Types: </label>
        <input type="text" [(ngModel)]="pokemon.types" placeholder="Types">
    </div>
    <div>
        <label for="pokemon-family">Family: </label>
        <input type="text" [(ngModel)]="pokemon.family" placeholder="Family">
    </div>             
    <br>
    <br>
    <button type="submit" (click)="goBack()">Submit</button>
    <button type="button" (click)="goBack()">Cancel</button>
</div>
    